<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KancolleWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <KancolleWindow.Properties.Settings>
            <setting name="WindowWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KancolleUrl" serializeAs="String">
                <value>http://www.dmm.com/netgame/social/-/gadgets/=/app_id=854854/</value>
            </setting>
            <setting name="UserStyleSheet" serializeAs="String">
                <value>body {
    margin:0;
    overflow:hidden
}

#game_frame {
    position:fixed;
    left:50%;
    top:-16px;
    margin-left:-600px;
    z-index:1
}

.area-pickupgame,
.dmm-ntgnavi,
.naviapp,
#foot
{
    display:none!important;
}</value>
            </setting>
            <setting name="ScreenshotSavePath" serializeAs="String">
                <value />
            </setting>
        </KancolleWindow.Properties.Settings>
    </userSettings>
</configuration>